<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">    
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-app="MixedMediaInventoryTracker">

    <div class="container mb-3">
        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-md-12 text-center">
                    <a class="blog-header-logo text-dark" ng-href="#!/">Stuffy Librarian</a>
                </div>
            </div>
        </header>

        <div class="nav-scroller py-1 mb-2">
            <nav class="nav d-flex justify-content-between">
                <a class="p-2 text-muted" ng-href="#!/"><i class="fas fa-home fa-lg"></i> <span class="d-none d-md-inline">Home</span></a>
                <a class="p-2 text-muted" ng-href="#!/viewMedia"><i class="far fa-user-circle fa-lg"></i> <span class="d-none d-md-inline">My Media</span></a>
                <a class="p-2 text-muted" ng-href="#!/chooseMediaType"><i class="fas fa-plus fa-lg"></i> <span class="d-none d-md-inline">Add New Media</span></a>
                <a class="p-2 text-muted" ng-href="#!/viewLentMedia"><i class="fas fa-user-friends fa-md"></i> <span class="d-none d-md-inline">View Lent Media</span></a>
                @*<a class="p-2 text-muted" ng-href="#!/lendMedia"><i class="far fa-share-square fa-md"></i> <span class="d-none d-md-inline">Lend Media</span></a>*@
                <a class="p-2 text-muted" ng-href="#!/viewSoldMedia"><i class="far fa-money-bill-alt fa-md"></i> <span class="d-none d-md-inline">View Sold Media</span></a>
                @*<a class="p-2 text-muted" ng-href="#!/sellMedia"><i class="fas fa-dollar-sign fa-lg"></i> <span class="d-none d-md-inline">Sell Media</span></a>*@
            </nav>
        </div>

    </div>

    <main role="main" class="container">
        <div>

            @RenderBody()

        </div><!-- /.row -->

    </main><!-- /.container -->
    

    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
